body {
  background-color: yellow;
}

.rounded-well {
  border-radius: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

/* the below is not working. Need help finding out why 

button:focus {
  outline:none;
}
here, Im attempting to remove the blue outline from the iroh pic when clicked
*/
p {
  font-style: Italic;
  font-size: 20px;
}

h1 {
  font-size: 50px;
}

.quote {
  height: auto;
  font-size: 35px;
}

.author {
  font-size: 20px;
}

#smaller-iroh {
  width: 300px;
}

.btn.newQuote {
  outline: none;
  border: none;
  padding: 0;
  background-color: transparent;
}

.fixed-image {
  position: fixed;
  bottom: 40px;
  left: 300px;
  right: 300px;
}

/* media query */
